<div class="nk-content ">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Orders</h3>
            </div>
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle"><a href="#"
                  class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em
                    class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li>
                      <div class="form-control-wrap">
                        <div class="form-icon form-icon-right"><em class="icon ni ni-search"></em></div><input
                          type="text" class="form-control" id="default-04" placeholder="Quick search by id">
                      </div>
                    </li>
                    <li>
                      <div class="drodown"><a href="#"
                          class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white"
                          data-bs-toggle="dropdown">Status</a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul class="link-list-opt no-bdr">
                            <li><a href="#"><span>On Hold</span></a></li>
                            <li><a href="#"><span>Delevired</span></a></li>
                            <li><a href="#"><span>Rejected</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="nk-block-tools-opt"><a href="#" class="btn btn-icon btn-primary d-md-none"><em
                          class="icon ni ni-plus"></em></a><a href="#"
                        class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add
                          Order</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nk-block">
          <div class="nk-tb-list is-separate is-medium mb-3">
            <div class="nk-tb-item nk-tb-head">
              <div class="nk-tb-col"><span>Order</span></div>
              <div class="nk-tb-col tb-col-md"><span>Date</span></div>
              <div class="nk-tb-col"><span class="d-none d-sm-block">Status</span></div>
              <div class="nk-tb-col tb-col-sm"><span>Customer</span></div>
              <div class="nk-tb-col tb-col-md"><span>Purchased</span></div>
              <div class="nk-tb-col"><span>Total</span></div>
              <div class="nk-tb-col nk-tb-col-tools"><span>Action</span></div>
            </div>

            <% orders.forEach(order=> { %>
              <div class="nk-tb-item">
                <div class="nk-tb-col"><span class="tb-lead"><a href="#">
                      <%= order._id %>
                    </a></span></div>
                <div class="nk-tb-col tb-col-md"><span class="tb-sub">
                    <%= order.orderDate.toDateString() %>
                  </span></div>
                <!-- Display order status -->
                <div class="nk-tb-col">
                  <% if (order.orderStatus === "Pending") { %>
                    <span class="dot bg-warning d-sm-none"></span>
                    <span class="badge badge-sm badge-dot has-bg bg-warning d-none d-sm-inline-flex">Pending</span>
                  <% } else if (order.orderStatus === "Processing") { %>
                    <span class="dot bg-info d-sm-none"></span>
                    <span class="badge badge-sm badge-dot has-bg bg-info d-none d-sm-inline-flex">Processing</span>
                  <% } else if (order.orderStatus === "Shipped") { %>
                    <span class="dot bg-primary d-sm-none"></span>
                    <span class="badge badge-sm badge-dot has-bg bg-primary d-none d-sm-inline-flex">Shipped</span>
                  <% } else if (order.orderStatus === "Delivered") { %>
                    <span class="dot bg-success d-sm-none"></span>
                    <span class="badge badge-sm badge-dot has-bg bg-success d-none d-sm-inline-flex">Delivered</span>
                  <% } else if (order.orderStatus === "Return") { %>
                    <span class="dot bg-secondary d-sm-none"></span>
                    <span class="badge badge-sm badge-dot has-bg bg-secondary d-none d-sm-inline-flex">Return</span>
                  <% } else if (order.orderStatus === "Cancelled By Admin") { %>
                    <span class="dot bg-danger d-sm-none"></span>
                    <span class="badge badge-sm badge-dot has-bg bg-danger d-none d-sm-inline-flex">Cancelled By Admin</span>
                  <% } else if (order.orderStatus === "Cancelled By User") { %>
                    <span class="dot bg-danger d-sm-none"></span>
                    <span class="badge badge-sm badge-dot has-bg bg-danger d-none d-sm-inline-flex">Cancelled By User</span>
                  <% } %>
                </div>
                

                <div class="nk-tb-col tb-col-sm"><span class="tb-sub">
                    <%= order.user.fullName %>
                  </span></div>
                <div class="nk-tb-col tb-col-md"><span class="tb-sub text-primary">
                    <%= order.items.length %> Items
                  </span></div>
                <div class="nk-tb-col"><span class="tb-lead">$ <%= order.total.toFixed(2) %></span></div>
                <!-- Display order actions -->
                <div class="nk-tb-col nk-tb-col-tools">
                  <ul class="nk-tb-actions gx-1">
                    <li>
                      <div class="dropdown me-n1">
                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown">
                          <em class="icon ni ni-more-h"></em>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul class="link-list-opt no-bdr">
                            <li>
                              <% if (order.orderStatus==='Pending' ) { %>
                                <a href="#" class="mark-delivered-btn" data-order-id="<%= order._id %>">
                                  <em class="icon ni ni-truck"></em>
                                  <span>Mark as Delivered</span>
                                </a>
                                <% } else if (order.orderStatus==='Delivered' ) { %>
                                  <a href="#" class="mark-paid-btn" data-order-id="<%= order._id %>">
                                    <em class="icon ni ni-money"></em>
                                    <span>Mark as Paid</span>
                                  </a>
                                  <% } %>
                            </li>
                            <li>
                              <a href="#" class="remove-order-btn" data-order-id="<%= order._id %>">
                                <em class="icon ni ni-trash"></em>
                                <span>Remove Order</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
              <% }) %>
          </div>
          <div class="card">
            <div class="card-inner">
              <div>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link" href="#">7</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>