<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Products</h3>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle"><a href="#"
                                    class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em
                                        class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="dropdown"><a class="dropdown-toggle btn btn-icon btn-light"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><em
                                                        class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end" style="">
                                                    <ul class="link-tidy">
                                                        <li>
                                                            <div
                                                                class="custom-control custom-control-sm custom-checkbox checked">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    checked="" id="cdp1-dot-bly"><label
                                                                    class="custom-control-label"
                                                                    for="cdp1-dot-bly">Active</label>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div
                                                                class="custom-control custom-control-sm custom-checkbox checked">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="cdp1-dot-phy"><label
                                                                    class="custom-control-label"
                                                                    for="cdp1-dot-phy">Disabled</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="preview-btn-item"><a href="/admin/addProducts"
                                                class="btn btn-primary"><span class="d-flex"><em
                                                        class="icon ni ni-plus me-2"></em>Add Product</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="nk-tb-list is-separate mb-3">
                        <div class="nk-tb-item nk-tb-head">

                            <div class="nk-tb-col tb-col-sm"><span>Name</span></div>
                            <div class="nk-tb-col"><span>Product ID</span></div>
                            <div class="nk-tb-col"><span>Price</span></div>
                            <div class="nk-tb-col"><span>Brand</span></div>
                            <div class="nk-tb-col"><span>Category</span></div>
                            <div class="nk-tb-col "><span>Category & Stock Update</span></div>
                            <div class="nk-tb-col "><span>Actions</span></div>

                        </div>
                        <% products.forEach(product=> { %>
                            <div class="nk-tb-item">

                                <div class="nk-tb-col tb-col-sm">
                                    <span class="tb-product">
                                        <% if(product.images && product.images[0]) { %>
                                            <img src="data:<%= product.images[0].contentType %>;base64,<%= product.images[0].data.toString('base64') %>"
                                                alt="<%= product.name %>" class="thumb">
                                            <% } else { %>
                                                <img src="static/images/product/default.png" alt="Default Image"
                                                    class="thumb">
                                                <% } %>
                                                    <span class="title">
                                                        <%= product.name %>
                                                    </span>
                                    </span>
                                </div>
                                <div class="nk-tb-col"><span class="tb-sub">
                                        <%= product.productId %>
                                    </span></div>
                                <div class="nk-tb-col"><span class="tb-lead">₹ <%= product.price %></span>
                                </div>
                                <div class="nk-tb-col"><span class="tb-sub">
                                        <%= product.brand.name %>
                                    </span>
                                </div>

                                <!-- Display product's category and subcategory -->
                                <div class="nk-tb-col tb-col-md"><span class="tb-sub">
                                        <%= product.category %>, <%= product.subcategory.Subcategory %>
                                    </span></div>

                                <!-- Collapsible Panel for Product Variants -->
                                <div class="nk-tb-col" id="show_varients">
                                    <button class="accordion-button btn btn-primary shadow-sm p-3 rounded"
                                        style="background-color: #7143d9; color: white; width: 50%;">Show Variants /
                                        Update Stock</button>
                                    <div class="panel">
                                        <table class="variant-table mt-3">
                                            <tbody>
                                                <% product.variants.forEach(variant=> { %>
                                                    <tr style="align-items: center;">
                                                        <td><span> Color: <%= variant.color.name %></span>
                                                        </td>
                                                        <td><span> Size: <%= variant.size.value %></span>
                                                        </td>
                                                        <td><span id="current-stock-<%= variant._id %>"> Current Stock:
                                                                <%= variant.stock %></span></td>
                                                        <td>
                                                            <span style="display: flex ;">
                                                                <input type="number" class="form-control"
                                                                    style="max-width: 100px; margin-right: 10px; margin-left: 10px; align-items: center;"
                                                                    value="" id="stock-<%= variant._id %>">
                                                                <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
                                                                title="Add - to decrease Stock"
                                                                    onclick="updateStock('<%= variant._id %>')">+ 
                                                                    Stock</button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <ul class="nk-tb-col">
                                    <span class="tb-sub">
                                        <li class="">
                                            <div class="dropdown"><a href="#"
                                                    class="dropdown-toggle btn btn-icon btn-trigger"
                                                    data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="/admin/editProduct/<%=product.productId%>"><em
                                                                    class="icon ni ni-edit"></em><span>Edit
                                                                    Selected</span></a></li>
                                                        <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove
                                                                    Selected</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </span>
                                </ul>
                            </div>
                            <% }); %>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <div>
                                <ul class="pagination">
                                    <% for(let i=1; i <=totalPages; i++) { %>
                                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>