<div class="tab-pane fade table-dashboard dashboard wish-list-section" id="order">
    <div class="box-head mb-3">
        <h3>My Order</h3>
    </div>
    <div class="table-responsive">
        <table class="table cart-table">
            <thead>
                <tr class="table-head">
                    <th scope="col">Image</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">Product Details</th>
                    <th scope="col">Status</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% orders.reverse().forEach(function(order) { %>
                    <% order.items.forEach(function(item) { %>
                        <tr>
                            <td>
                                <a href="product-left-sidebar.html">
                                    <img
                                        src="data:image/jpeg;base64,<%= item.product.images[0].data.toString('base64') %>">
                                </a>
                            </td>
                            <td>
                                <p class="mt-0">
                                    <%= order._id %>
                                </p>
                            </td>
                            <td>
                                <p class="fs-6 m-0">
                                    <%= item.product.name %> x<%= item.quantity %>
                                    
                                </p>
                            </td>
                            <td>
                                <p class="btn btn-sm">
                                    <%= order.orderStatus %>
                                </p>
                            </td>
                            <td>
                                <p class="theme-color fs-6">₹<%= item.product.price * item.quantity %>
                                </p>
                            </td>
                            <td>
                                <% if (order.orderStatus === "Delivered") { %>
                                  <a href="#" class="btn btn-solid-default btn-sm fw-bold return-order" data-order-id="<%= order._id %>">Return</a>
                                <% } else if (order.orderStatus !== "Return" && order.orderStatus !== "Cancelled By User" && order.orderStatus !== "Cancelled By Admin") { %>
                                  <a href="#" class="btn btn-solid-default btn-sm fw-bold cancel-order" data-order-id="<%= order._id %>">Cancel</a>
                                <% } %>
                              </td>
                              
                              
                              
                        </tr>
                        <% }); %>
                            <% }); %>
            </tbody>
        </table>
    </div>
</div>