<div class="tab-pane fade dashboard" id="Wallet">
    <div class="page-title title title1 title-effect" style="display: flex; justify-content: space-between;">
        <h2>Wallet Details</h2>
        <h3>Balance: <span class="balance-amount">₹<%= wallet.balance %></span></h3>
    </div>

   

    <div class="transaction-details-section">
        <h2 class="mb-3">Transaction History</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <% wallet.transactions.forEach(function(transaction) { %>
                        <tr>
                            <%
                            var d = new Date(transaction.date);
                            var formattedDate = d.toString().split(' ').slice(0, 5).join(' ');
                          %>
                          <td><%= formattedDate %></td>
                                                      <td><%= transaction.description %></td>
                            <td>₹<%= transaction.amount %></td>
                            <td><%= transaction.type %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
