<div class="tab-pane fade table-dashboard dashboard wish-list-section active show" id="wishlist">
    <div class="box-head mb-3">
        <h3>My Wishlist</h3>
    </div>
    <div class="table-responsive">
        <table class="table cart-table">
            <thead>
                <tr class="table-head">
                    <th scope="col">image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% wishlist.forEach(wish => { %>
                    <% wish.products.forEach(product => { %>
                        <tr>
                            <td>
                                <a href="/product/<%= product._id %>">
                                    <% if (product.images && product.images.length > 0) { %>
                                        <img src="data:image/jpeg;base64,<%= product.images[0].data.toString('base64') %>"
                                             class="blur-up lazyloaded" alt="<%= product.name %>">
                                    <% } else { %>
                                        <img src="path/to/default/image.jpg" class="blur-up lazyloaded" alt="Default Image">
                                    <% } %>
                                </a>
                            </td>

                            <td>
                                <p class="fs-6 m-0"><%= product.name %></p>
                            </td>
                            <td>
                                <p class="theme-color fs-6">₹<%= product.price %></p>
                            </td>
                            <td>
                                <a href="#" class="btn btn-solid-default btn-sm fw-bold remove-from-wishlist" data-product-id="<%= product._id %>">Remove</a>
                            </td>
                        </tr>
                    <% }); %>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>


