<section class="pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="success-icon">
                    <div class="main-container">
                        <div class="check-container">
                            <div class="check-background">
                                <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div class="check-shadow"></div>
                        </div>
                    </div>

                    <div class="success-contain">
                        <h4>Order Success</h4>
                        <h5 class="font-light">Payment Is Successfully Processsed And Your Order Is On The Way</h5>
                        <h6 class="font-light">Order Id is:<%= orders._id%>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5"></section>


<section class="section-b-space cart-section order-details-table">
    <div class="container">
        <div class="title title1 title-effect mb-1 title-left">
            <h2 class="mb-3">Order Details</h2>
        </div>
        <div class="row g-4">
            <div class="col-md-12">
                <div class="col-sm-12 table-responsive">
                    <table class="table cart-table table-borderless">
                        <tbody>
                            <tr class="table-order">
                                <table>
                                    <tbody>
                                        <%- console.log('orders:', orders) %>

                                            <% orders.items.forEach(function(item) { %>
                                                <tr>
                                                    <td>
                                                        <a href="product-left-sidebar.html">
                                                            <img
                                                                src="data:image/jpeg;base64,<%= item.product.images[0].data.toString('base64') %>">
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <p class="fs-6 m-0">
                                                            <%= item.product.name %> x<%= item.quantity %>
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p
                                                            class="<%= orders.orderStatus === 'Shipped' ? 'success-button' : (orders.orderStatus === 'Pending' ? 'danger-button' : '') %> btn btn-sm">
                                                            <%= orders.orderStatus %>
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p class="theme-color fs-6">₹<%= item.itemTotal %>
                                                        </p>
                                                    </td>

                                                </tr>
                                                <% }); %>
                                    </tbody>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="table-order">
                                <td colspan="3">
                                    <h5 class="font-light">total :</h5>
                                </td>
                                <td>
                                    <h4>
                                        ₹<%=orders.total%>
                                    </h4>
                                </td>
                            </tr>
                            <tr class="table-order">
                                <td colspan="3">
                                    <h5 class="font-light">Offer Discount :</h5>
                                </td>
                                <td>
                                    <h4>- ₹<%=orders.offerDiscount%></h4>
                                </td>
                            </tr>
                            <tr class="table-order">
                                <td colspan="3">
                                    <h5 class="font-light">Coupon Discount :</h5>
                                </td>
                                <td>
                                    <h4>- ₹<%=orders.couponDiscount%></h4>
                                </td>
                            </tr>






                            <tr class="table-order">
                                <td colspan="3">
                                    <h4 class="theme-color fw-bold">Payable :</h4>
                                </td>
                                <td>
                                    <h4 class="theme-color fw-bold">₹ <%=orders.payable%></h4>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="order-success">
                    <div class="row g-4">
                        <div class="col-sm-6">
                            <h4>summery</h4>
                            <ul class="order-details">
                                <li>Order ID: <%= orders._id%></li>
                                <li>Order Date: <%= orders.orderDate%></li>
                                <li>Order Total: ₹ <%= orders.payable%></li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <h4>shipping address</h4>
                            <ul class="order-details">
                                <li><%=orders.shippingAddress.street%></li>
                                <li><%=orders.shippingAddress.city%></li>
                                <li><%=orders.shippingAddress.state%></li>
                                <li><%=orders.shippingAddress.zipCode%></li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <div class="payment-mode">
                                <h4>payment method</h4>
                                <p><%=orders.paymentMethod%></p>
                            </div>
                        </div>

                        <!-- <div class="col-md-12">
                            <div class="delivery-sec">
                                <h3>expected date of delivery: <span>october 22, 2018</span></h3>
                                <a href="order-tracking.html">track order</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>