<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12 md-5">
                <div class="row">
                    <div class="col-sm-5 col-7">
                        <div class="left-side-button float-start">
                                
                            <a href="index.html" class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                <i class="fas fa-arrow-left"></i> Continue Shopping</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-12 table-responsive mt-4">
                <table class="table cart-table">
                    <thead>
                        <tr class="table-head">
                            <!-- <th scope="col">image</th> -->

                            <th scope="col">Image</th>
                            <th scope="col">product name</th>
                            <th scope="col">size & color</th>
                            
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cart.items.forEach(function(item) { %>
                            <tr id="item-row-<%= item._id %>" data-productID="<%= item.product._id %>" data-variantID= "<%= item.variant._id %>">
                                
                                <td><a href="">
                                    <%if(item.outOfStock){%>
                                        <i class="fas fa-exclamation-circle" style="color: red;" data-toggle="tooltip" data-placement="top" title="Your Tooltip Content"></i>
                                        <%}%>
                                        <img src="data:<%= item.product.images[0].contentType %>;base64,<%= item.product.images[0].data.toString('base64') %>"
                                            class="blur-up lazyloaded" alt="">
                                    </a>
                                </td>
                                    
                                    <td id="name-<%= item.name %>"><%= item.product.name %></td>
                                    <td id="name-<%= item.name %>">
                                        <div style="    display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        ">
                                        <span><%= item.size.value %></span>
                                        <span class="shadow-lg  p-3 ms-3" style="background-color: <%= item.color.name %>; display: inline-block;
                                            width: 20px; 
                                            height: 20px; 
                                            border-radius: 50%;
                                            margin-left: 5px;"></span>
                                        </div>
                                      </td>
                                      
                                <td id="price-<%= item._id %>">₹<%= item.product.price %>
                                </td>
                                <td class="align-center">
                                    <div style="display: flex;
                                    align-items: center;
                                    justify-content: space-around; b ">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus"
                                            data-field="<%= item._id %>" data-vaientID="<%=item.variant %>">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input type="number" name="quantity" readonly="readonly"
                                            class="form-control input-number" id="quantity-<%= item._id %>"
                                            value="<%= item.quantity %>" data-item-id="<%= item._id %>"
                                            onblur="validateQuantity(this)" min="1" max="10"
                                            style="width: 60px; text-align: center; padding: .375rem .75rem;">
                                        <button type="button" class="btn quantity-right-plus" data-type="plus"
                                            data-field="<%= item._id %>" data-vaientID="<%=item.variant %>">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="remove-item" data-item-id="<%= item._id %>"><i
                                            class="fas fa-times"></i></a>
                                </td>
                                
                                <td id="total-<%= item._id %>" class="item-total">₹<%= item.quantity * item.product.price %></td>

                            </tr>
                          
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="cart-checkout-section">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="cart-box">
                            <div class="cart-box-details">
                                <div class="total-details">
                                    <div class="top-details">
                                        <h6>Products Total <span id ="cart-total">₹<%= parseInt(cart.total).toFixed(2) %></span></h6>
                                        <h6>Discount <span id ="cart-discount">-₹<%= cart.offerDiscount %></span></h6>
                                        <h6>Free Shipping  <span><del>-₹00.00</del></span></h6>
                                        <hr>
                                        <h4>TOTAL<span id ="cart-grandTotal">₹<%=cart.totalAfterOffer  %></span></h4>
                                        <!-- <h3 class="mt-4">Cart Totals<span id ="cart-total">₹<%= cart.total %></span></h3> -->
                                    </div>
                                    <div class="bottom-details">
                                        <a href="/checkout" id="checkout-link" class="checkout-button">Proceed to Checkout</a>
                                      </div>
                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
