<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12 md-5">
                <div class="row">
                    <div class="col-sm-5 col-7">
                        <div class="left-side-button float-start">
                            <a href="index.html" class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                <i class="fas fa-arrow-left"></i> Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-sm-7 col-5">
                        <div class="promo-section float-end">
                            <form class="row g-3">
                                <div class="col-7">
                                    <input type="text" class="form-control" id="number" placeholder="Coupon Code">
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-solid-default rounded btn">Apply Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 table-responsive mt-4">
                <table class="table cart-table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cart.items.forEach(function(item) { %>
                            <tr id="item-row-<%= item._id %>">
                                <td><a href="product-left-sidebar.html">
                                        <img src="data:<%= item.product.images[0].contentType %>;base64,<%= item.product.images[0].data.toString('base64') %>"
                                            class="blur-up lazyloaded" alt="">
                                    </a>
                                </td>
                                <td id="name-<%= item.name %>"><%= item.product.name %>

                                <td id="price-<%= item._id %>">₹<%= item.product.price %>
                                </td>
                                <td class="align-center">
                                    <div style="display: flex;
                                    align-items: center;
                                    justify-content: space-around; b ">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus"
                                            data-field="<%= item._id %>">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input type="number" name="quantity" readonly="readonly"
                                            class="form-control input-number" id="quantity-<%= item._id %>"
                                            value="<%= item.quantity %>" data-item-id="<%= item._id %>"
                                            onblur="validateQuantity(this)" min="1" max="10"
                                            style="width: 60px; text-align: center; padding: .375rem .75rem;">

                                        <button type="button" class="btn quantity-right-plus" data-type="plus"
                                            data-field="<%= item._id %>">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>


                                </td>
                                <td>
                                    <a href="#" class="remove-item" data-item-id="<%= item._id %>"><i
                                            class="fas fa-times"></i></a>
                                </td>
                                <td id="total-<%= item._id %>" class="item-total">₹<%= (item.quantity *
                                        item.product.price).toFixed(2) %>
                                </td>
                            </tr>

                            <% }); %>
                    </tbody>

                </table>
            </div>
            <div class="cart-checkout-section">
                <div class="row g-4">

                    <div class="col-lg-12">
                        <div class="cart-box">
                            <div class="cart-box-details">
                                <div class="total-details">
                                    <div class="top-details">
                                        <h3>Cart Totals</h3>
                                        <h6>Total MRP <span>₹250.00</span></h6>
                                        <h6>Coupon Discount <span>-₹25.00</span></h6>
                                        <h6>Convenience Fee <span><del>₹25.00</del></span></h6>
                                    </div>
                                    <div class="bottom-details">
                                        <a href="checkout.html">Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>