<section class="section-b-space">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-7">
        <h3 class="mb-3">Billing address</h3>
        <div class="tab-pane dashboard" id="save">
          <div class="box-head">
            <h3>Save Address</h3>
            <button class="btn btn-solid-default btn-sm fw-bold ms-auto" data-bs-toggle="modal"
              data-bs-target="#add_new_address" id="addNewAddressButton"><i class="fas fa-plus"></i> Add New Address
            </button>
          </div>
          <div class="save-details-box">


            <form>
              <div class="row g-3">
                <% if (addresses.length> 0) { %>
                  <% addresses.forEach(function(address) { %>
                    <div class="col-xl-12 col-md-6">
                      <div class="save-details">
                        <div class="save-name">
                          <h5>
                            <%= address.fullName %>
                          </h5>
                          <div class="save-position">
                            <label>
                              <input type="radio" name="selectedAddress" value="<%= address._id %>"
                                class="address-radio" checked>
                              <span>Select Address</span>
                            </label>
                          </div>
                        </div>

                        <div class="save-address">
                          <p class="font-light">
                            <%= address.address.street %>
                          </p>
                          <p class="font-light">
                            <%= address.address.city %>, <%= address.address.state %>
                          </p>
                          <p class="font-light">
                            <%= address.address.zipCode %>
                          </p>
                        </div>

                        <div class="mobile">
                          <p class="font-light mobile">Mobile No. <%= address.mobile %>
                          </p>
                        </div>

                        <div class="button">
                          <a href="javascript:void(0)" class="btn btn-sm">Edit</a>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                      <% } else { %>
                        <p>No addresses found.</p>
                        <% } %>


                          <!-- Existing Coupon Application Section -->
                          <div class="coupon-section mb-4 mt-4">
                            <h2 class="mb-3">Coupon</h2>
                            <div class="input-group">
                              <% if (coupon) { %>
                                <input type="text" id="couponCodeInput" class="form-control form-control-lg"
                                  placeholder="Enter Coupon Code" value="<%= 
                                   %>"
                                  data-coupanCode="<%= coupon._id %>">
                                <button id="applyCoupan" type="button"
                                  class="btn btn-solid-default btn-sm fw-bold apply-coupon-button me-3">Apply
                                  Coupon</button>
                                <button id="removeCoupan" type="button"
                                  class="btn btn-solid-default btn-sm fw-bold apply-coupon-button"
                                  data-coupon="<%= cart.coupon.code %>">Remove Coupon</button>

                                <% if (cart && cart.coupon && cart.coupon.code){ %>
                                  <button id="removeCoupan" type="button"
                                    class="btn btn-solid-default btn-sm fw-bold apply-coupon-button"
                                    data-coupon="<%= cart.coupon.code %>">Remove Coupon</button>
                                  <% } %>
                                    <% } else { %>
                                      <input type="text" id="couponCodeInput" class="form-control form-control-lg"
                                        placeholder="Enter Coupon Code" value="">
                                      <button id="applyCoupan" type="button"
                                        class="btn btn-solid-default btn-sm fw-bold apply-coupon-button">Apply
                                        Coupon</button>
                                      <% } %>
                            </div>
                          </div>








                          <div id="couponsAccordion" class="accordion mt-4">
                            <h2 class="mb-3">Available Coupons</h2>
                            <% coupons.forEach(function(coupon, index) { %>
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="heading<%= index %>">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse<%= index %>" aria-expanded="false"
                                    aria-controls="collapse<%= index %>">
                                    <%= coupon.code %>
                                  </button>
                                </h2>
                                <div id="collapse<%= index %>" class="accordion-collapse collapse"
                                  aria-labelledby="heading<%= index %>" data-bs-parent="#couponsAccordion">
                                  <div class="accordion-body">
                                    <!-- Coupon Card -->
                                    <div class="coupon-card">
                                      <h4 class="coupon-title">
                                        <%= coupon.Description %>
                                      </h4>
                                      <p>Discount:
                                        <%= coupon.type==='Percent' ? coupon.discount + '%' : '₹' + coupon.discount %>
                                      </p>
                                      <p>Min Order Amount: <%= coupon.minimumOrderAmount %>
                                      </p>
                                      <p>Expiry Date: <%= coupon.validUntil.toDateString() %>
                                      </p>
                                      <button type="button" class="btn btn-primary btn-sm">Copy Code</button>

                                    </div>
                                  </div>
                                </div>
                              </div>
                              <% }); %>
                          </div>





                          <div class="choose-payment-method">
                            <h2 class="mb-4">Choose Payment Method</h2>
                            <!-- Payment method selection -->
                            <label class="h5">
                              <input type="radio" name="paymentMethod" value="COD" checked> COD
                            </label>
                            <label class="h5 ">
                              <input type="radio" name="paymentMethod" value="PayOnline"> Pay Online
                            </label>

                            <!-- Place Order button -->
                            <button type="submit" id="placeOrderButton"
                              class="btn btn-solid-default btn-sm fw-bold">Place Order</button>
                          </div>
              </div>
          </div>

          </form>


        </div>

        <!-- Modal -->

        <div class="modal" id="add_new_address" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
          aria-hidden="true">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Add Address</h3>
              <button id="closeModal" class="close-button">×</button>
            </div>
            <div class="modal-body">
              <form action="/add-address" method="POST">
                <!-- Address form fields -->
                <div class="form-outline mb-4">
                  <input type="text" id="fullName" name="fullName" class="form-control form-control-lg"
                    placeholder="Full name" required>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="street" name="street" class="form-control form-control-lg" placeholder="Street"
                    required>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="city" name="city" class="form-control form-control-lg" placeholder="City"
                    required>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="state" name="state" class="form-control form-control-lg" placeholder="State"
                    required>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="zipCode" name="zipCode" class="form-control form-control-lg"
                    placeholder="Zip Code" required>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="mobile" name="mobile" class="form-control form-control-lg" placeholder="Mobile"
                    required>
                </div>
                <div class="modal-footer">
                  <button type="submit" id="saveAddress" class="btn btn-success">Save Address</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="your-cart-box">
          <h3 class="mb-3 d-flex text-capitalize">Your cart<span
              class="badge bg-theme new-badge rounded-pill ms-auto bg-dark">3</span>
          </h3>
          <ul class="list-group mb-3">


            <ul class="list-group">
              <% ProductsInCart.forEach(function(product) { %>
                <li class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-md-2">
                      <% if (product.images && product.images.data) { %>
                        <img
                          src="data:<%= product.images.contentType %>;base64,<%= product.images.data.toString('base64') %>"
                          alt="<%= product.name %>" class="img-fluid rounded">
                        <% } else { %>
                          <img src="path/to/default/image.jpg" alt="Default Image" class="img-fluid rounded">
                          <% } %>
                    </div>
                    <div class="col-md-4">
                      <h6 class="my-0">
                        <%= product.name %>
                      </h6>
                      <small class="text-muted">Color: <%= product.color.name %> | Size: <%= product.size.value %>
                      </small>
                    </div>
                    <div class="col-md-4 text-center d-flex flex-column">
                      <small class="text-muted">Qty X Price</small>
                      <small class="text-muted">
                        <%= product.qty %> X <%= product.price %>
                      </small>
                    </div>
                    <% if (product.offerPercent>0) { %>
                      <div class="col-md-2 text-right">
                        <span class="text-muted">Total: <s style="color: brown;">₹<%= product.price * product.qty %>
                          </s></span>
                        <span class="text-muted">₹<%= product.OfferPrice %></span>
                      </div>
                      <% } else { %>
                        <div class="col-md-2 text-right">
                          <s><span class="text-muted">₹<%= product.OfferPrice %></span></s>
                        </div>

                        <% } %>
                  </div>
                </li>
                <% }); %>
            </ul>
            <li class="list-group-item d-flex lh-condensed justify-content-between">
              <span class="fw-bold">Total (₹)</span>
              <strong>₹<%= TotalBeforeCoupon %></strong>
            </li>
            <%if(coupon){%>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="text-dark">
                  <small class="my-0">Promo code</small>
                  <h6>
                    <%= coupon %>
                  </h6>
                </div>
                <%if(couponDiscount ){%>
                <span>-₹<%= couponDiscount %> </span>
                <%}%>
              </li>
              <%}%>
              <li class="list-group-item d-flex justify-content-between lh-condensed active">
                <div class="text-dark">
                  <h6 class="my-0">Payable</h6>
                </div>
                <span>-₹<%= totalAfterCoupon %> </span>
              </li>
          </ul>


        </div>
      </div>

    </div>
  </div>
</section>