<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="category-option">
                    <div class="button-close mb-3">
                        <button class="btn p-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                                <line x1="19" y1="12" x2="5" y2="12"></line>
                                <polyline points="12 19 5 12 12 5"></polyline>
                            </svg> Close</button>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="searchInput" placeholder="Search...">
                    </div>
                    <div class="accordion category-name" id="accordionExample">

                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo">
                                    Brand
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        <% brands.forEach(brand=> { %>
                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox"
                                                        id="brand-<%= brand._id %>">
                                                    <label class="form-check-label" for="<%= brand._id %>">
                                                        <%= brand.name %>
                                                    </label>
                                                    <p class="font-light"></p>
                                                </div>
                                            </li>
                                            <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item category-color">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree">
                                    Color
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="category-list color-list-fix">
                                        <% colors.forEach(color=> { %>
                                            <li>
                                                <div class="custom-color-selector">
                                                    <input class="checkbox-animated check-it visually-hidden"
                                                        type="checkbox" id="color-<%= color._id %>"
                                                        data-hex="<%= color.hex %>">
                                                    <label style="background-color: <%= color.hex %>"
                                                        class="color-circle shadow mb-3" for="color-<%= color._id %>">
                                                        <i class="fas fa-check"></i>
                                                    </label>
                                                </div>
                                                <div class="color-circle-preview make_hidden"
                                                    style="background-color: <%= color.hex %>;"></div>
                                            </li>
                                            <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne">
                                    Category
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        <% subcategories.forEach(subcategory=> { %>

                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox"
                                                        id="category-<%= subcategory._id %>">
                                                    <label class="form-check-label"
                                                        for="category-<%= subcategory._id %>">
                                                        <%= subcategory.category %>
                                                    </label>
                                                    <p class="font-light"></p>
                                                </div>
                                            </li>

                                            <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Slider section start -->
                        <!-- Slider Section End -->
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-12 ratio_30">

                <div class="row g-4">
                    <!-- filter button -->
                    <div class="filter-button">
                        <button class="btn filter-btn p-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-left">
                                <line x1="17" y1="10" x2="3" y2="10"></line>
                                <line x1="21" y1="6" x2="3" y2="6"></line>
                                <line x1="21" y1="14" x2="3" y2="14"></line>
                                <line x1="17" y1="18" x2="3" y2="18"></line>
                            </svg> Filter</button>
                    </div>
                    <!-- filter button -->
                </div>
                <!-- label and featured section -->

                <!-- Prodcut setion -->
                <div id="product-container" 
                    class="" style="
                    display: flex;
                    flex-direction: column;"> 
                    <!-- content_productView_singleProduct will be rendered by js -->
            </div>
            </div>
        </div>
    </div>
</section>